/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 janv. 2021, 16:42:18
    Author     : Marius
*/
html{

    width: 99%;
    height: 99%;
    min-width: 600px;

}
#select{

    padding-top: 10%;
    margin: 0 auto;
    display: grid;
    height: 80%;
    width: 100%;

}
#lancer{
    border: black solid 2px;
    position: relative;
    left: 20%; right: 20%;
    font-family: Ninja;
    height: 60%;
    width: 60%;
}

#lancer:hover{
    background-color: grey;
}

.bandeau{
    background-image: url(../Image/bandeau.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 45%;
    width: 100%;
}

.selectJoueur{
    margin-top: 10%;
    overflow: hidden;
    background-color: transparent;
    border: none;
    position: relative;

    left: 30%; right: 30%; top: 0%; bottom: 0%;
    color: crimson;
    font-size: 2em;
    font-family: Ninja;
    text-align: center;
    resize: none;
    display: inline-block;
    height: 25%;
    width: 40%;

}

body {
    width: 97%;
    height: 97%;
    background-image: url(../Image/logo_akatsuki.png);
    background-size: 50%;
    border: black solid 4px;
    padding: 0.5%;
}

#jeu{
    display: none;
    width: 100%;
    height: 100%;
    padding-right:2%;

}

.points{
    opacity: 1;

}

.message{
    text-align: center;
    font-size: 2em;
    height: 20%;
}


#triche,#rep, #tour {
    display: none;
}

#cartes{
    margin: 0 auto;
    font-family: Ninja;
    text-align: center;
    font-size: 4em;
    width: 80%;
    height: 100%;
    display: inline-block;
}

.points{
    width: 100%;
    height:10%;
}

#score img{
    object-fit: scale-down;
    width: 10%;
}

.carte img{

    width: 100%;
    height: 100%;
    object-fit: scale-down;
    opacity: 0;
}
.carte:hover{
    background-color: #4e342e;
}
.carteOn img{
    opacity: 1;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 5%;
}
.carteOn{
    background-color: #4e342e;
    background-position: center;
    background-color: #6d4c41;
    display : inline-block;
    width:19%;
    height:24%;
    border: solid black 1px;
    border-radius: 5%;
}
.juste :important{
    background-position: center;
    background-color: greenyellow;
    display : inline-block;
    width:19%;
    height:24%;
    border: solid black 1px;
    border-radius: 5%;
}
.carte {
    border-radius: 5%;
    background-image: url(../Image/logo_konoha.png);
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center;
    background-color: #6d4c41;
    display : inline-block;
    width:19%;
    height:24%;
    border: solid black 1px;
}

@font-face{
    font-family: "Ninja";
    src: url(../Font/njnaruto.ttf);
}
#score{

    border-radius: 2%;
    background-image: url(../Image/dessin_tsunade.png);
    background-size: 150%;
    font-family: Ninja;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-grid;
    height: 94%;
    width: 19%;
    border: black solid 1px;
    position: absolute;
    background-color: lightgray;
}

h1{
    text-align: center;
    font-size: 3em;
}

p {
    font-size: 1em;
}